use themes/one-half-light.nu

$env.config.color_config = (one-half-light)
one-half-light update terminal
$env.LS_COLORS = (vivid generate one-light)

# fix for line separator
$env.config.color_config.separator = {fg: "#abb2bf", attr: "b" }
$env.config.color_config.shape_table = {fg: "#abb2bf", attr: "b" }
