registry=https://registry.npmmirror.com
allow-scripts=@anthropic-ai/claude-code,opencode-ai,@google/genai,protobufjs,msgpackr-extract,@fission-ai/openspec
{{ if eq .chezmoi.os "linux" }}
prefix={{.chezmoi.homeDir}}/.local
{{ end }}
