{
  "$schema": "https://opencode.ai/config.json",
  "theme": "system",
  "username": "<!--!>",
  "model": "claude-opus-4.5-high",
  "small_model": "Qwen3-Coder",
  "autoupdate": false,
  "instructions": [
    "AGENTS.md",
    "CLAUDE.md",
    ".cursor/rules/*.md",
    "GEMINI.md",
    "QWEN.md"
  ],
  "permission": {
    "edit": "ask",
    "bash": "ask"
  },
  "formatter":{
    "rust-formatter": {
      "command": ["rustfmt", "+nightly", "$FILE"],
      "extensions": [".rs"]
    }
  },
  "watcher": {
    "ignore": [
      "node_modules",
      "bun.lock",
      "tmp",
      "**/.git",
      "**/.cache",
      "**/dist",
      "**/build",
      "**/.next",
      "**/__pycache__",
      "**/.venv",
      "**/target",
      "**/.gradle"
    ]
  },
  "mcp": {
    "context7": {
      "type": "remote",
      "url": "https://mcp.context7.com/mcp"
    },
    "sequential-thinking": {
      "type": "local",
      "command": ["npx", "-y", "@modelcontextprotocol/server-sequential-thinking"],
      "enabled": true
    }
  },
  "provider": {
    "anthropic": {
      "options":{
        "baseURL": "{env:AI_BASE_URL}/v1",
        "apiKey": "{env:AI_BASE_TOKEN}"
      },
      "models": {
        "claude-opus-4.5-high": {
          "name": "Claude Opus 4.5 (high)",
          "id": "claude-opus-4-5-20251101",
          "limit": {
            "context": 200000,
            "output": 64000
          },
          "options": {
            "thinking": {
              "type": "enabled",
              "budgetTokens": 32000
            }
          }
        },
        "claude-opus-4-5-medium": {
          "name": "Claude Opus 4.5 (medium)",
          "id": "claude-opus-4-5-20251101",
          "limit": {
            "context": 200000,
            "output": 64000
          },
          "options": {
            "thinking": {
              "type": "enabled",
              "budgetTokens": 16000
            }
          }
        },
        "claude-opus-4-5-low": {
          "name": "Claude Opus 4.5 (low)",
          "id": "claude-opus-4-5-20251101",
          "limit": {
            "context": 200000,
            "output": 64000
          },
          "options": {
            "thinking": {
              "type": "enabled",
              "budgetTokens": 8000
            }
          }
        },
        "claude-sonnet-4.5-high": {
          "name": "Claude Sonnet 4.5 (high)",
          "id": "claude-sonnet-4-5-20250929",
          "limit": {
            "context": 200000,
            "output": 64000
          },
          "options": {
            "thinking": {
              "type": "enabled",
              "budgetTokens": 32000
            }
          }
        },
        "claude-sonnet-4-5-medium": {
          "name": "Claude Sonnet 4.5 (medium)",
          "id": "claude-sonnet-4-5-20250929",
          "limit": {
            "context": 200000,
            "output": 64000
          },
          "options": {
            "thinking": {
              "type": "enabled",
              "budgetTokens": 16000
            }
          }
        },
        "claude-sonnet-4-5-low": {
          "name": "Claude Sonnet 4.5 (low)",
          "id": "claude-sonnet-4-5-20250929",
          "limit": {
            "context": 200000,
            "output": 64000
          },
          "options": {
            "thinking": {
              "type": "enabled",
              "budgetTokens": 8000
            }
          }
        },
        "claude-haiku-4.5-high": {
          "name": "Claude Haiku 4.5 (high)",
          "id": "claude-haiku-4-5",
          "limit": {
            "context": 200000,
            "output": 64000
          },
          "options": {
            "thinking": {
              "type": "enabled",
              "budgetTokens": 16000
            }
          }
        },
        "claude-haiku-4-5-medium": {
          "name": "Claude Haiku 4.5 (medium)",
          "id": "claude-haiku-4-5-20251001",
          "limit": {
            "context": 200000,
            "output": 64000
          },
          "options": {
            "thinking": {
              "type": "enabled",
              "budgetTokens": 10000
            }
          }
        },
        "claude-haiku-4-5-low": {
          "name": "Claude Haiku 4.5 (low)",
          "id": "claude-haiku-4-5-20251001",
          "limit": {
            "context": 200000,
            "output": 64000
          },
          "options": {
            "thinking": {
              "type": "enabled",
              "budgetTokens": 6000
            }
          }
        },
        "MiniMax-M2.1": {
          "name": "MiniMax-M2.1",
          "id": "MiniMax-M2.1",
          "attachment": false,
          "reasoning": true,
          "tool_call": true,
          "interleaved": {
            "field": "reasoning_details"
          },
          "cost": {
            "input": 0.3,
            "output": 1.2
          },
          "limit": {
            "context": 204800,
            "output": 131072
          },
          "options": {}
        }
      }
    },
    "google":{
      "name":"Google",
      "npm": "@ai-sdk/google",
      "options":{
        "baseURL": "{env:AI_BASE_URL}/v1beta",
        "apiKey": "{env:AI_BASE_TOKEN}"
      },
      "models":{
        "gemini-3-pro-preview": {
          "id": "gemini-3-pro-preview",
          "name": "Gemini 3 Pro Preview",
          "release_date": "2025-11-18",
          "reasoning": true,
          "limit": {
            "context": 1000000,
            "output": 64000
          },
          "cost": {
            "input": 2,
            "output": 12,
            "cache_read": 0.2
          },
          "modalities": {
            "input": [
              "text",
              "image",
              "video",
              "audio",
              "pdf"
            ],
            "output": [
              "text"
            ]
          }
        },
        "gemini-3-pro-high": {
          "id": "gemini-3-pro-preview",
          "name": "Gemini 3 Pro Preview (High Thinking)",
          "options": {
            "thinkingConfig": {
              "thinkingLevel": "high",
              "includeThoughts": true
            }
          }
        },
        "gemini-3-pro-low": {
          "id": "gemini-3-pro-preview",
          "name": "Gemini 3 Pro Preview (Low Thinking)",
          "options": {
            "thinkingConfig": {
              "thinkingLevel": "low",
              "includeThoughts": true
            }
          }
        },
        "gemini-3-flash-high": {
          "id": "gemini-3-flash-preview",
          "name": "Gemini 3 Flash Preview (High Thinking)",
          "options": {
            "thinkingConfig": {
              "thinkingLevel": "high",
              "includeThoughts": true
            }
          }
        },
        "gemini-3-flash-medium": {
          "id": "gemini-3-flash-preview",
          "name": "Gemini 3 Flash Preview (Medium Thinking)",
          "options": {
            "thinkingConfig": {
              "thinkingLevel": "medium",
              "includeThoughts": true
            }
          }
        },
        "gemini-3-flash-low": {
          "id": "gemini-3-flash-preview",
          "name": "Gemini 3 Flash Preview (Low Thinking)",
          "options": {
            "thinkingConfig": {
              "thinkingLevel": "low",
              "includeThoughts": true
            }
          }
        },
        "gemini-3-flash-minimal": {
          "id": "gemini-3-flash-preview",
          "name": "Gemini 3 Flash Preview (Minimal Thinking)",
          "options": {
            "thinkingConfig": {
              "thinkingLevel": "minimal",
              "includeThoughts": true
            }
          }
        },
        "gemini-flash-lite": {
          "id": "gemini-flash-lite-latest",
          "name": "Gemini Flash Lite Latest",
          "release_date": "2025-06-17",
          "reasoning": true,
          "limit": {
            "context": 1048576,
            "output": 65536
          },
          "cost": {
            "input": 0.1,
            "output": 0.4,
            "cache_read": 0.025
          },
          "modalities": {
            "input": [
              "text",
              "image",
              "audio",
              "video",
              "pdf"
            ],
            "output": [
              "text"
            ]
          }
        }
      }
    },
    "other": {
      "npm": "@ai-sdk/openai-compatible",
      "name": "Others",
      "options": {
        "baseURL": "{env:AI_BASE_URL}/v1",
        "apiKey": "{env:AI_BASE_TOKEN}"
      },
      "models": {
        "Qwen3-Coder": {
          "id":"Qwen/Qwen3-Coder-480B-A35B-Instruct",
          "name":"qwen3-coder",
          "reasoning": true,
          "tool_call": true,
          "interleaved": {
            "field": "reasoning_details"
          }
        },
        "DeepSeek-V3.2-thinking": {
          "id":"deepseek-ai/DeepSeek-V3.2-thinking",
          "name":"deepseek-think",
          "reasoning": true,
          "tool_call": true,
          "interleaved": {
            "field": "reasoning_details"
          }
        }
      }
    }
  }
}
