{
  "AppConfigs": {
    "TypeConfigs": {
      "WindowsExplorer": {},
      "FileDialog": {},
      "FolderDialog": {},
      "Desktop": {},
      "TotalCommander": {},
      "DirectoryOpus": {},
      "FreeCommander": {},
      "XYplorer": {},
      "xplorer2": {},
      "Bandizip": {},
      "AutoCAD": {},
      "Explzh": {},
      "Files": {},
      "OneCommander": {},
      "WinRAR.ExtractDialog": {},
      "WPS.FileDialog": {}
    },
    "PathConfigs": {}
  },
  "Menus": {
    "Favorites": {
      "Deletions": [],
      "Moves": [],
      "Insertions": [],
      "Updates": []
    }
  },
  "DiskSearch": {
    "FolderPriority": {
      "Deletions": [],
      "Moves": [],
      "Insertions": [],
      "Updates": []
    },
    "FileNamePriority": {
      "Deletions": [],
      "Moves": [],
      "Insertions": [],
      "Updates": []
    },
    "SearchFilter": {
      "Deletions": [],
      "Moves": [],
      "Insertions": [],
      "Updates": []
    }
  },
  "FileSearchWindow": {
    "Columns": {
      "Deletions": [],
      "Moves": [],
      "Insertions": [],
      "Updates": [
        {
          "Id": "FileName",
          "UpdatedProperties": {
            "Width": 200
          }
        },
        {
          "Id": "Path",
          "UpdatedProperties": {
            "Width": 400
          }
        },
        {
          "Id": "DateModified",
          "UpdatedProperties": {
            "Width": 200
          }
        }
      ]
    },
    "WindowWidth": 1000,
    "WindowHeight": 720,
    "PreviewWidth": 300,
    "SideBarWidth": 225
  },
  "Commands": {
    "Items": {
      "Deletions": [],
      "Moves": [],
      "Insertions": [
        {
          "Index": -1,
          "Info": null,
          "Item": {
            "Title": "Open Nvim",
            "Path": "alacritty",
            "Parameter": "--command nvim",
            "WorkingDirectory": "",
            "Id": "244aa5e8-dbf1-43a2-9d6d-20556b237a8a",
            "Keyword": "nvim",
            "$customType": "CustomCommand"
          }
        },
        {
          "Index": -1,
          "Info": null,
          "Item": {
            "Title": "Open Jupyter Qtconsole",
            "Path": "jupyter",
            "Parameter": "qtconsole",
            "Silent": true,
            "Id": "bb5ade23-e62a-4573-a8db-3f23304bd369",
            "Keyword": "qtconsole",
            "$customType": "CustomCommand"
          }
        },
        {
          "Index": -1,
          "Info": null,
          "Item": {
            "Title": "Open Terminal",
            "Path": "wt",
            "Parameter": "\"{query}\"",
            "Id": "a0b982c4-330a-444d-a020-cff3fbd9a7e5",
            "Keyword": "term",
            "$customType": "CustomCommand"
          }
        }
      ],
      "Updates": []
    }
  },
  "WebSearch": {
    "Items": {
      "Deletions": [],
      "Moves": [],
      "Insertions": [],
      "Updates": []
    }
  },
  "Actions": {
    "Items": {
      "Deletions": [],
      "Moves": [],
      "Insertions": [
        {
          "Index": -1,
          "Info": null,
          "Item": {
            "Title": "Edit with nvim",
            "Path": "alacritty",
            "Parameter": "--command nvim \"{action_path}\"",
            "$customType": "CustomCommand"
          }
        }
      ],
      "Updates": []
    }
  },
  "AutoUpdate": {},
  "Settings": {
    "Tutorial.ShowMainV3": false,
    "Listary5.SettingsImported": true,
    "Listary5.ProLicense.Name": {{ .secrets.license.listary.email | decrypt | quote}},
    "Listary5.ProLicense.Email": {{ .secrets.license.listary.email | decrypt | quote}},
    "Listary5.ProLicense.Key": {{ .secrets.license.listary.key | decrypt | quote}}
  },
  "Extensions": {
    "Extensions": {
      "1a63ea9d-bf25-431f-96e3-17b80027efab": {}
    }
  }
}
