{
  "providers": {
    "anthropic":{
      "baseUrl": {{ .secrets.url.ai_base_url | decrypt | trim | quote }},
      "apiKey": "$AI_BASE_TOKEN",
      "modelOverrides": {
        "claude-opus-4-6": {
          "contextWindow": 200000,
          "maxTokens": 64000
        }
      }
    },
    "deepseek": {
      "baseUrl": {{ .secrets.url.ai_base_url | decrypt | trim | printf "%s/v1" | quote }},
      "apiKey": "$AI_BASE_TOKEN"
    },
    "google": {
      "baseUrl": {{ .secrets.url.ai_base_url | decrypt | trim | printf "%s/v1beta" | quote }},
      "apiKey": "$AI_BASE_TOKEN",
      "api": "google-generative-ai",
      "models": [
        {
          "id": "gemini-3-flash-free",
          "name": "Gemini 3 Flash Free",
          "reasoning": true,
          "thinkingLevelMap": {
            "off": null,
            "minimal": null,
            "low": "LOW",
            "medium": "MEDIUM",
            "high": "HIGH"
          },
          "contextWindow": 250000,
          "maxTokens": 65536,
          "cost": {
            "input": 0,
            "output": 0,
            "cacheRead": 0,
            "cacheWrite": 0
          },
          "input": ["text", "image"]
        }
      ]
    },
    "openai": {
      "baseUrl": {{ .secrets.url.ai_base_url | decrypt | trim | printf "%s/v1" | quote }},
      "apiKey": "$AI_BASE_TOKEN",
      "compat": {
        "supportsExplicitPromptCacheMode": false
      }
    },
    "xai": {
      "baseUrl": {{ .secrets.url.ai_base_url | decrypt | trim | printf "%s/v1" | quote }},
      "apiKey": "$AI_BASE_TOKEN"
    }
  }
}
