#!/usr/bin/env bash

set -eufo pipefail

DISTRO=$(grep -E '^(ID|ID_LIKE)=' /etc/os-release | cut -d= -f2 | tr -d '"')

case "$DISTRO" in
*arch*) ;;
*)
  exit 0
  ;;
esac

##########################################

echo 'UPDATING SOURCES...'
sudo pacman -Sy

{{ $pkgs := .pkgs.archBased.universal }}

{{ if $pkgs }}
echo 'INSTALLING PACKAGES...'
sudo pacman -S {{ $pkgs | quoteList | join " " }} --needed --noconfirm
{{ end }}

##########################################

echo 'SETTING UP SERVICES...'
